@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
    background-color: black;
}


.container {
    background-color: black;
    color: rgba(255, 255, 255, 0.747);
    height: 100vh;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.item {
    height: 300px;
    width: 300px;
    border: 1px solid red;
}


p {
    text-align: justify;
    padding: 20px;
}


h2 {
    text-align: center;
    color: red;
}


#h2pers {
    text-align: center;
    color: red;
}


header > h1 {
    color: red;
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}